.map{
    height: 500px;
    margin:0;
    h3{
        background-color: $themeTextColor1;
        color: $themeColor1;
        text-align: center !important;
        width: 100%;
        margin:0;
        padding: 5px 0;
    }
    border: 10px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 1px 10px 2px $themeTextColor1;
    margin: 20px 0px;
    iframe{
        overflow: scroll;
        height: 438px;
    }
}