.search{
    .search-title{
        color: #777;
        text-align: center;
        font-weight: bold;
        margin: 25px auto;
        background-color: #FFF;
        padding: 15px;
        border-right: 3px solid $mainColor;
        border-left: 3px solid $mainColor;
        span{
            color: $mainColor;
        }
    }
    .topecs-list {
        background-color: #FFF;
        margin-bottom: 20px;
    }
    .info{
        padding-left: 15px;
    }
    .entry {
        background-color: #FFF;
        border: 1px solid $themeTextColor1;
        border-radius: 0px;
        overflow: hidden;
        margin-bottom: 15px;
        padding:0;
        }
        .tags-search{
            a{
                padding: 4px 6px;
                color: #FFF !important;
                background-color: rgb(2, 6, 15);
                border-radius: 5px;
            }
        }
        .entry-title {
            margin: 0 0 5px 10px;
            padding: 25px 30px 0px !important;
            a {
                font-size: 28px;
                font-weight: bold;
                color: $mainColor;
                transition: 0.3s;
                &:hover {
                    color: rgb(95, 197, 245);
                }
            }
        }
        .entry-meta {
            margin-bottom: 0 !important;
            color: $mainColor;
            border-top: solid 2px #DDD;
            padding: 10px 30px;
            ul {
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                align-items: center;
                padding: 0;
                margin: 0;
                li{
                    padding-left: 0 !important;
                }
                    time{
                        font-weight: bold;
                        color: #777;
                    }
                    i{
                        color: #777;
                    }
                        ul{
                            a{
                                padding: 5px 10px;
                                border: 1px solid $themeTextColor1;
                        }
                    }
                }
            }
            i {
                font-size: 16px;
                line-height: 0;
            }
            a {
                font-weight: bold;
                color: #777;
                font-size: 14px;
                line-height: 1;
            }


            .products{
                .product-item{
                    position: relative;
                    background: #fff;
                    transition: all .3s ease-in-out;
                    margin-bottom: 20px;
                    border-radius: 5px;
                
                    //     &::before {
                    //         content: "";
                    //         position: absolute;
                    //         top: 10px;
                    //         left: 0;
                    //         width: 1px;
                    //         height: calc(100% - 20px);
                    //         background: #8f6c6c;
                    //         z-index: 1;
                    //         filter: alpha(opacity=100);
                    //         -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
                    //         -webkit-opacity: 1;
                    //         -moz-opacity: 1;
                    //         -ms-opacity: 1;
                    //         -o-opacity: 1;
                    //         opacity: 1;
                    // }
                    .item-header{
                        padding: 10px 10px 0;
                        transition: all .3s ease-in-out;
                    .item-img{
                    filter: alpha(opacity=100);
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
                    -webkit-opacity: 1;
                    -moz-opacity: 1;
                    -ms-opacity: 1;
                    -o-opacity: 1;
                    opacity: 1;
                    -webkit-transition: all 0.3s linear;
                    -moz-transition: all 0.3s linear;
                    -ms-transition: all 0.3s linear;
                    -o-transition: all 0.3s linear;
                    transition: all 0.3s linear;
                
                    img{
                        display: block;
                        width: 100%;
                        overflow: hidden;
                    }
                    }
                }
                .item-body{
                    padding: 20px 10px;
                    font-weight: bold;
                    transition: all .3s ease-in-out;
                
                    .item-rate{
                        padding-bottom: 2px;
                        .star{
                            padding:1px;
                            i{
                                font-size: 12px;
                                color: rgb(255, 230, 0);
                        }
                    }
                    }
                    .item-owner{
                        display: block;
                        color: #777;
                        margin-bottom: 6px;
                        cursor: pointer;
                        .owner-name{
                            text-align: left;
                            font-size: 11px;
                            font-weight: 500;
                            padding: 2px;
                        }
                        i{
                            font-size: 12px;
                            padding: 2px;
                        }
                    }
                    .item-title{
                        display: block;
                            text-align: left;
                            font-size: 12px;
                            font-weight: 600;
                            margin-bottom: 6px;
                            padding: 2px;
                            cursor: pointer;
                            color: $mainColor;
                    }
                    .item-price{
                        text-align: left;
                        font-size: 12px;
                        font-weight: bold;
                        padding: 2px;
                    }
                    .count-operations{
                        display: block;
                    }
                    .operations{
                        opacity: 0;
                        transition:  all .3s ease-in-out;
                        .item{
                            margin: 2px;
                            padding:5px;
                            width: 40px;
                            height: 40px;
                            display: block;
                            border-radius: 50%;
                            background-color: #DDD;
                            border: 1px solid $mainColor;
                            line-height: 30px;
                            text-align: center;
                            &:hover{
                                background-color: $mainColor;
                            }
                            &:hover i{
                                color: #fff;
                            }
                            i{
                                color: #777;
                            }
                        }
                    }
                }
                 &:hover .operations{
                    opacity: 1;
                 }
                }
                
                }
        }
    